StockMarketClient/Connected Services/LiveStockData/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Entities" />
  <xs:complexType name="ArrayOfLiveStockDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiveStockDetails" nillable="true" type="tns:LiveStockDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiveStockDetails" nillable="true" type="tns:ArrayOfLiveStockDetails" />
  <xs:complexType name="LiveStockDetails">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.Entities" base="q1:Stock">
        <xs:sequence>
          <xs:element minOccurs="0" name="LivePrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="TodaysHigh" type="xs:decimal" />
          <xs:element minOccurs="0" name="TodaysLow" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LiveStockDetails" nillable="true" type="tns:LiveStockDetails" />
</xs:schema>