StockMarketClient/Connected Services/LiveStockData/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Model" />
  <xs:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Entities" />
  <xs:element name="GetLiveStockDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiveStockDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.Model" minOccurs="0" name="GetLiveStockDetailsResult" nillable="true" type="q1:ArrayOfLiveStockDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiveOrderDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiveOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetLiveOrderDetailsResult" nillable="true" type="q2:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>