StockMarketClient/Connected Services/LiveStockData/LiveStockDataSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveStockDataSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Model" />
      <xsd:import schemaLocation="http://localhost:8735/LiveStockDataSvc/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveStockDataSvc_GetLiveStockDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveStockDetails" />
  </wsdl:message>
  <wsdl:message name="ILiveStockDataSvc_GetLiveStockDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveStockDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveStockDataSvc_GetLiveOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveOrderDetails" />
  </wsdl:message>
  <wsdl:message name="ILiveStockDataSvc_GetLiveOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveStockDataSvc">
    <wsdl:operation name="GetLiveStockDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveStockDataSvc/GetLiveStockDetails" message="tns:ILiveStockDataSvc_GetLiveStockDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveStockDataSvc/GetLiveStockDetailsResponse" message="tns:ILiveStockDataSvc_GetLiveStockDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveStockDataSvc/GetLiveOrderDetails" message="tns:ILiveStockDataSvc_GetLiveOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveStockDataSvc/GetLiveOrderDetailsResponse" message="tns:ILiveStockDataSvc_GetLiveOrderDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveStockDataSvc" type="tns:ILiveStockDataSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLiveStockDetails">
      <soap:operation soapAction="http://tempuri.org/ILiveStockDataSvc/GetLiveStockDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveOrderDetails">
      <soap:operation soapAction="http://tempuri.org/ILiveStockDataSvc/GetLiveOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveStockDataSvc">
    <wsdl:port name="BasicHttpBinding_ILiveStockDataSvc" binding="tns:BasicHttpBinding_ILiveStockDataSvc">
      <soap:address location="http://localhost:8735/LiveStockDataSvc/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>