StockMarketClient/Connected Services/StockMarketServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataLayer.Entities" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="LoginResult" nillable="true" type="q1:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="member" nillable="true" type="q2:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="RegisterResult" nillable="true" type="q3:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="stock" nillable="true" type="q4:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="CreateStockResult" nillable="true" type="q5:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="stock" nillable="true" type="q6:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="UpdateStockResult" nillable="true" type="q7:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetStocksResult" nillable="true" type="q8:ArrayOfStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetStockResult" nillable="true" type="q9:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="stockMarketOffDates" nillable="true" type="q10:StockMarketOffDates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="AddResult" nillable="true" type="q11:StockMarketOffDates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockMarketOffDateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockMarketOffDates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockMarketOffDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetStockMarketOffDatesResult" nillable="true" type="q12:ArrayOfStockMarketOffDates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberHoldings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberHoldingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetMemberHoldingsResult" nillable="true" type="q13:ArrayOfMemberHolding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="order" nillable="true" type="q14:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="SellShareResult" nillable="true" type="q15:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="order" nillable="true" type="q16:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="BuyShareResult" nillable="true" type="q17:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataLayer.Entities" minOccurs="0" name="GetSharesByNameResult" nillable="true" type="q18:ArrayOfStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>